*{
	margin: 0 auto;
	padding: 0;
	font-family: 'Pangolin', cursive; 
}

/*diseño header pd: no me resulto el background-color black :( */

header #encabezado{
	background-color: black;
	color: whitesmoke;
	display: inline;
	width: 100%;	
}

#header-text p{
	display: inline;
	margin-left: 380px;
	margin-right: 420px;
	text-align: center;
}

/*diseño collage*/
