*{
	margin: 0;
	padding: 0;
	font-family: 'Pangolin', cursive; 
	color: white;	
	font-size: 30px;
}

body{
	background: linear-gradient(to bottom, #9FE722, #BB6239);
	background-repeat: no-repeat;
	background-size: cover;
	height: 2000px;
}

.container{
	text-align: center;
	display: inline;
}

#encabezado{
	height: 180px;
}

#logo-principal{
	height: 180px;
}

#logo-principal img{
	width: 300px;
}

#inputs input,
#pwd{
	color: black;
}

#facebook{
	height: 180px;
}

#texto-ayuda{
	height: 180px;
}

#boton{
	height: 180px;
}

#boton button{
	background-color: transparent;
	width: 350px;
	height: 50px;
}

hr{
	height: 180px;
}

footer{
	height: 180px;
}